<h3>Paste your text!</h3>

<form action="/pasteit" method ="post" accept-charset="utf-8">
  <textarea id="content" name="content" value="" rows="40" cols="60"></textarea>
  <input type="submit" value="paste!">
</form>

