<html>
  <head>
    <link href="/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/prettify.js"></script>
  </head>
  <body onload="prettyPrint()" t>
   <%= yield %>
  </body>
</html>
